.bg-img{
    background-image: url(images/gidon-wessner-SZtLK_W7vKo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
}
.front{
    text-align: left;
    margin-top: 350px;
    }
  .first{
    background-color: beige;
    height: 40vh;
  }