
.bg-img{
    background-image: url(images/gidon-wessner-SZtLK_W7vKo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.front{
    padding-top: 20%;
    }
  .first{
    background-color: lightgrey;
    height: 43vh;
    padding-left: 50px;
    
  }
  .second{
    background-color: whitesmoke;
    height: 120vh;
  }
  .col{
    font-size: 1.7rem;
    padding-top: 5%;

  }
  .col2{
    font-size: 1.2rem;

  }
  .col1{
    font-weight: bold;
  }
  h2{
    font-size: 18px;
    padding-bottom: 5%;
  }
  .btn1{
    color: rgb(157, 70, 84);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .img1{
   height: 11em;
    width: fit-content;
  }
.carousel-item{
    height: 32rem;
    position: absolute;
}
.third{
    background-color: rgb(76, 72, 72);
    color: rgb(229, 101, 123);
}
.icons{
    color: blanchedalmond;
    padding-top:5%;
    
}
.row5{
  height: auto;
}
.text1{
  margin-bottom: 10px;
  font-size: 50px;
}
.text2{
margin-bottom: 150px;
font-size: larger;

}
.email{
  margin-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
}
.fifth{
  text-align: left;
  margin: auto;
}
.text5{
  font-family: 'Times New Roman', Times, serif;
  margin-right: 30px;
  margin-left: 30px;
}
.text6{
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
  font-weight: 700;
}
.text7{
  border-bottom: solid;
}
.btn1{
  border-radius: 15px;
}

