.bg-img{
    background-image: url(images/gidon-wessner-SZtLK_W7vKo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.front{
    text-align: left;
    margin-top: 300px;
    }
  .first{
    background-color: beige;
    height: 43vh;
  }
  .second{
    background-color: lightgray;
    height: 120vh;
  }
  .col{
    font-size: 1.7rem;
    padding-top: 5%;

  }
  .col1{
    font-weight: bold;
  }
  h2{
    font-size: 18px;
    padding-bottom: 5%;
  }
  .btn{
    padding: 5px;
  }
  .img1{
   height: 11em;
    width: fit-content;
  }
.carousel-item{
    height: 32rem;
    position: absolute;
}